@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  background-image: url('photos/background2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.titre {
  font-family: 'Shadows Into Light', cursive;
}

.text {
  font-family: 'Nunito Sans', sans-serif;
  color: #868c96;
}

.img-nav {
  width: 44px;
}

/* NAVBAR */
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

div ul li a {
  font-size: 2rem;
  padding: 1rem 1.5rem;
  color: #2c3639;
}

div ul li a.active,
div ul li a:hover {
  text-decoration: underline;
  color: #242a2c;
}

.section-page {
  height: 100vh;
  padding-top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .hero {
    height: 100vh;
  }

  .custom-video,
  .news-detail-image {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  .sticky-wrapper {
    position: relative;
    bottom: 76px;
  }
}

.heroText {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
}


/* VIDEO */
.videoWrapper {
  position: relative;
  height: 0;
  z-index: -100;
}


/* IMAGES */
.img-container-grid {
  display: flex;
  flex-wrap: wrap;
}

.small-square {
  max-width: 20%;
  height: auto;
  flex: 0 0 20%;
  padding-top: 20%;
  display: grid;
  position: relative;
}

.horizontal-rectangle {
  max-width: 40%;
  flex: 0 0 40%;
  padding-top: 20%;
  position: relative;
}

.vertical-rectangle {
  max-width: 20%;
  flex: 0 0 20%;
  padding-top: 40%;
  position: relative;
}

.big-square {
  max-width: 40%;
  height: auto;
  flex: 0 0 40%;
  padding-top: 40%;
  display: grid;
  position: relative;
}

.big-square-4 {
  max-width: 40%;
  height: auto;
  flex: 0 0 40%;
  display: flex;
  flex-wrap: wrap;
}

.inner-square {
  max-width: 50%;
  flex: 0 0 50%;
  height: 50%;
  position: relative;
}


.img-grid-c {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
  padding: 2.5px;
}


/* 100vh */
.all-screan {
  min-height: 100vh;
  /* height: 100vh; */
}


/* FOOTER */
.section-footer {
  padding: 60px 0;
}

.contact-area {
  border-bottom: 1px solid #353C46;
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
  color: #8b9199;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content img {
  max-width: 210px;
}

footer {
  color: #868c96;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 44px;
}

.lien {
  text-decoration: none;
}

/* GOOGLE MAP */
.feature.map {
  height: 100%;
}

iframe {
  height: 100%;
  width: 50%;
  border: 0;
  -webkit-filter: grayscale(99%);
}



/* HORRAIRE */
.open {
  color: green;
}

.closed {
  color: red;
}

.opening-hours_day {
  display: flex;
  justify-content: space-between;
  line-height: 1.5em;
  list-style: none;
  border-bottom: solid 1px #FFFFFF33;
}



/* TEST CARD CONSEIL */
.card {
  margin: 5% 0%;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}





/* TEST read more */
.read-more-container {
  display: flex;
  flex-direction: column;
}

.read-more-btn {
  color: #0984e3;
  cursor: pointer;
}

.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
}




/* Teste card profile */

.card-profil {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 50px;

  /* Glassmorph */
  box-shadow: 0 8px 32px 0 rgba(194, 195, 212, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.img-profil {
  width: 100%;
}

.card-profil:hover {
  transform: translateY(-0.5rem) scale(1.03);
}

.top-section {
  position: relative;
}

.name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 40px;
  color: #fff;
  line-height: 1;
  opacity: 0.8;
}

.name span {
  background: #333;
  padding: 0 5px 5px 5px;
}

.info-section {
  padding: 0 40px 10px;
  color: #fff;
  margin-top: 10px;
}

/* Souligné le début */
.h2-profil:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  background: #fff;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}



/* Technologie */

/* Grand écran */
.carousel-techno {
    width: 50%;
}

/* Petit écran */
@media screen and (max-width: 992px) {
  .carousel-techno {
    width: 100%;
  }

}